@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}

.page-header {
    color: #000000;
    background-color: #f2f2f2;
}

.navigation-link {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation-link-current {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: underline;
    color: #000000;
}

.navigation-link.search::before {
    content: url(../images/icons/search.svg);
}

.navigation-link.favorites::before {
    content: url(../images/icons/favorite.svg);
}

.represent {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.review {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 22px;
    font-weight: 700;  
    text-align: center;
    line-height: 36px;
    color: #333333;
}

.sub-first-screen {
    background-image: url(../images/headline/divider.svg), url(../images/background/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover;
    background-position: bottom, center;
    width: 100%;
    height: 485px;
}

.headline {
    margin: auto;
    display: block;
}

.reason.dark {
    background: #83B3D3;
}

.reasons-with-picture
{
    font-family: "PT Sans", "Arial", sans-serif; 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
    text-align: center;
    text-transform: uppercase; 
}

.number-white {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.number-black {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.reason-white {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.reason-black {
    font-family: "PT Sans", "Arial", sans-serif; 
    text-align: center;
    font-weight: normal;
}

.sub-reasons-item.house::before {
    content: url(../images/sub-reasons/house.svg);
}

.sub-reasons-item.food::before {
    content: url(../images/sub-reasons/food.svg);
}

.sub-reasons-item.souvenir::before {
    content: url(../images/sub-reasons/present.svg);
}

.bold-reasons {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.interest {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold; 
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.info {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.search-button {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
}
/* Пока что думаю будет лучше оставить кнопку так? только дисплей помогает 
сделать текст по середине, где он есть*/

.newsletter {
    background-image: url(../images/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 411px;
}

.subcribe {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.under-subcribe {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #FFFFFF;
}


/* Не работает, бред
.newsletter-form {
    position: ;
   width: 600px;
    height: 60px;
    top: 3041px;
    left: 840px;
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
}

.email {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
}

.submit-button {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
}
*/

.twitter::before {
    content: url(../images/footer/twitter.svg);
}

.facebook::before {
    content: url(../images/footer/facebook.svg);
}

.youtube::before {
    content: url(../images/footer/youtube.svg);
}

.number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background: #FFFFFF;
    display: block;
    text-align: center;
    text-transform: uppercase;
    width:1200px;
    height:120px;
}