@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
 }

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}

/* Flex*/

 .main-container {
     flex-grow: 1;
 }

 .navigation {
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .logo {
     display: flex;
     width: 139px;
     padding: 0 47px 0 70px;
     margin-top: -60px;
 }

 .navavigation-list {
    margin: 0;
    padding: 0;
    width: 345px;
    display: flex;
 }

.navavigation-user {
    max-width: 300px;
    display: flex;
}

/* Я не знаю правильно ли, но задаю здесь 100%,ибо если брать по макету 1200px,
то на самом сайте отображается максимально это не очень*/

.footer-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.social-network {
    max-width: 120px;
    margin-right: 61px;
    margin-left: 72px;
}

.htmlacademy {
    width: 115px;
    margin-left: 53px;
    margin-right: 72px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.right-column {
    width: 1056px;
}

/* Header */
.page-header {
    color: #000000;
    background-color: #f2f2f2;
}


.navigation-link {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation-link-current {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: underline;
    color: #000000;
}

.navigation-link.search::before {
    content: ""; 
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 66px;
    display: block;
}

.navigation-link.favorites::before {
    content: ""; 
    background-image: url(../images/icons/favorite.svg);
    width: 42px;
    height: 66px;
    display: block;
}

/* Headline */

.represent {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    padding: 63px 240px 31px 240px;
}

.review {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 22px;
    font-weight: 400;  
    text-align: center;
    line-height: 36px;
    color: #333333;
    padding:0px 240px 80px 240px;
}

.sub-first-screen {
    background-image: url(../images/headline/divider.svg), url(../images/background/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover;
    background-position: bottom, center;
    max-width: 1200px;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    margin: auto;
    display: block;
}

/* Reasons */

.reason.dark {
    background: #83B3D3;
    width: 400px;
    height: 384px;
}

.reason-one {
    display: block;
}

.reasons-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
}

.reasons-list-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.reasons-with-picture {
    font-family: "PT Sans", Arial, sans-serif; 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
    text-align: center;
    text-transform: uppercase; 
    padding-top: 97px;
    padding-bottom: 30px;
    width: 171px;
    margin: 0 auto;
}

.number-white {
    font-family: "PT Sans", Arial, sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 0 75px 30px 75px;
}

.number-black {
    font-family: "PT Sans", Arial, sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 0 75px 30px;
}

.reason-white {
    font-family: "PT Sans", Arial, sans-serif; 
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0 90px 87px 90px;
}

.reason-black {
    font-family: "PT Sans", Arial, sans-serif; 
    text-align: center;
    font-weight: normal;
    padding: 0 75px 108px;
    margin: 0;
}

.reason {
    width: 400px;
    height: 384px;
}

.last-reasons {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 98px 0 29px;
    width: 180px;
    margin: 0 auto;
}

/* Sub-reasons*/

.sub-reasons-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.sub-reasons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 384px;
    width: 400px;
}


.sub-reasons-item.house::before {
    content: "";
    background-image: url(../images/sub-reasons/house.svg);
    width: 75px;
    height: 72px;
    display: block;
    margin-top: 89px;
}

.sub-reasons-item.food::before {
    content: "";
    background-image: url(../images/sub-reasons/food.svg);
    width: 74px;
    height: 70px;
    display: block;
    margin-top: 91px;
}

.sub-reasons-item.souvenir::before {
    content: "";
    background-image: url(../images/sub-reasons/present.svg);
    width: 64px;
    height: 76px;
    display: block;
    margin-top: 85px;
}

.recommendation{
    width: 250px;
    height: 73px;
    padding: 20px 75px 79px 75px;
    margin: 0;
}

.bold-reasons {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 250px;
    height: 28px;
    margin: 0;
    padding: 23px 75px 0;
}



/* Subcribe */

.interest {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold; 
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 91px 240px 29px;
}

.info {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 0px 240px 56px;
    margin: 0;
}

.search-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    margin: 0 313px 93px;
    padding: 15px 0 15px;
    border-radius: 10px;
}

.newsletter {
    background-image: url(../images/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 411px;
}

.subcribe {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 94px 240px 29px;
    margin: 0;
}

.under-subcribe {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #FFFFFF;
    padding: 0 240px 46px;
    margin: 0 auto;
    width: 530px;
}


/* Footer */

.twitter::before {
    content: "";
    background-image: url(../images/footer/twitter.svg);
    width: 18px;
    height: 15px;
    display: block;
}

.facebook::before {
    content: "";
    background-image: url(../images/footer/facebook.svg); 
    width: 10px;
    height: 18px;
    display: block;
}

.youtube::before {
    content: "";
    background-image: url(../images/footer/youtube.svg);
    width: 20px;
    height: 16px;
    display: block;
}

.number {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 720px;
    height:120px;
    margin: 0;
    padding: 40px 53px 0px 61px;
}



/* Catalog */

/* Page-footer */

.page-footer {
    background-image: url(../images/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hotels-of-Sedona {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    padding: 35px 601px 0 71px;
    margin: 0;
    white-space: nowrap;
}

.breadcrumbs {
    display: flex;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item-home {
    padding: 8.3px 11px 51px 73px;
}


.breadcrumbs-link.home::before {
    content: "";
    background-image: url(../images/icons/home.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: block;
}

/* Вообще не знаю правильно ли так делать именно с этой 
иконкой, как она вообще должна себя вести? 

.breadcrumbs-link::before {
    content: "";
    background-image: url(../images/icons/next.svg);
    width: 5px;
    height: 8px;
    display: block;
 }   
    */


.breadcrumbs-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 5px 1016px 45px 26px;
}

.page-footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog-hotels {
    display: flex;
}

.catalog-filter-group {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

.control {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.range-field {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.3;
}

.button-use {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
    background: #83B3D3;
}

/* Что с ней не так :`) */
.button-reset {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
    text-align: center;  
    color: #FFFFFF;
}

/* Catalog-beginning*/


/* Control-input */

.control-input-cards::before {
    content: url(../images/icons/mode-tile-1.svg);
}

.control-input-main::before {
    content: url(../images/icons/mode-tile-2.svg);
}

.control-input-list::before {
    content: url(../images/icons/mode-list-3.svg);
}


.star::before {
    content: url(../images/icons/star.svg);
}

/* Hotels */

.hotel-sort-tittle {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    width: 337px;
    margin-left: 71px;
    margin-right: 192px;
    margin-right: 81px;
}

.select-control {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
    width: 287px;
}

.visual-cards {
    margin-right: 8px;
}

.visual-of-page {
    margin-left: 81px;
    margin-right: 72px;
}

.product-card-link {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
    margin-right: 18px;
}

.product-card-name {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
}


.product-card-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.product-card-button.detail {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
}

/* Здесь кнопка должна меняться на зеленую при нажатии, пока что оставлю так*/

.product-card-button.favorites {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
}

.rating {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.number-of-hotels {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

    /* Pagination*/

.pagination-show-more {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    background: #83B3D3;
}

.pagination-link.pagination-current {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
}

.pagination-link {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none ;
}

