@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
 }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
}

/* Flex*/

 .main-container {
     flex-grow: 1;
 }

 .navigation {
     display: flex;
     width: 100%;
     margin: 0 auto;
 }

 .logo {
     margin-right: auto;
     width: 139px;
     margin-left: 70px;
     margin-right: 30px;
 }

 .navavigation-list {
    margin: 0;
    padding: 0;
    width: 450px;
 }

.navavigation-user {
    max-width: 300px;
    margin-left: auto;
    margin-right: 70px;
}

/* Я не знаю правильно ли, но задаю здесь 100%,ибо если брать по макету 1200px,
то на самом сайте отображается максимально это не очень*/

.footer-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.social-network {
    max-width: 120px;
    margin-right: 61px;
    margin-left: 72px;
}

.htmlacademy {
    width: 115px;
    margin-left: 53px;
    margin-right: 72px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.right-column {
    width: 1056px;
}

/* Header */
.page-header {
    color: #000000;
    background-color: #f2f2f2;
}

.navigation-link {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation-link-current {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    text-decoration: underline;
    color: #000000;
}

.navigation-link.search::before {
    content: url(../images/icons/search.svg);
}

.navigation-link.favorites::before {
    content: url(../images/icons/favorite.svg);
}

/* Headline */

.represent {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    display: block;
}

.review {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-size: 22px;
    font-weight: 700;  
    text-align: center;
    line-height: 36px;
    color: #333333;
}

.sub-first-screen {
    background-image: url(../images/headline/divider.svg), url(../images/background/index-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover;
    background-position: bottom, center;
    width: 100%;
    height: 485px;
}

.headline {
    margin: auto;
    display: block;
}

/* Reasons */

.reason.dark {
    background: #83B3D3;
}

.reasons-with-picture {
    font-family: "PT Sans", "Arial", sans-serif; 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
    text-align: center;
    text-transform: uppercase; 
}

.number-white {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.number-black {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.reason-white {
    font-family: "PT Sans", "Arial", sans-serif; 
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.reason-black {
    font-family: "PT Sans", "Arial", sans-serif; 
    text-align: center;
    font-weight: normal;
}


/* Sub-reasons*/

.sub-reasons-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.sub-reasons-item {
    width: 400px;
}

.sub-reasons-item.house::before {
    content: url(../images/sub-reasons/house.svg);
}

.sub-reasons-item.food::before {
    content: url(../images/sub-reasons/food.svg);
}

.sub-reasons-item.souvenir::before {
    content: url(../images/sub-reasons/present.svg);
}

.bold-reasons {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

/* Subcribe */

.interest {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold; 
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.info {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.search-button {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
}
/* Пока что думаю будет лучше оставить кнопку так? только дисплей помогает 
сделать текст по середине*/

.newsletter {
    background-image: url(../images/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 411px;
}

.subcribe {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.under-subcribe {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    color: #FFFFFF;
}


/* Footer */
.twitter::before {
    content: url(../images/footer/twitter.svg);
}

.facebook::before {
    content: url(../images/footer/facebook.svg);
}

.youtube::before {
    content: url(../images/footer/youtube.svg);
}

.number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 720px;
    height:120px;
    margin-left: 61px;
}

/* Catalog */

/* Page-footer */

.page-footer {
    background-image: url(../images/background/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hotels-of-Sedona {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs-link.home::before {
    content: url(../images/icons/home.svg);
}

.breadcrumbs-item {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.catalog-filter-group {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.control {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.range-field {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.3;
}

.button-use {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
    background: #83B3D3;
}

/* Что с ней не так :`) */
.button-reset {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 23px;
    text-align: center;  
    color: #FFFFFF;
}

/* Catalog-beginning*/


/* Control-input */

.control-input-cards::before {
    content: url(../images/icons/mode-tile-1.svg);
}

.control-input-main::before {
    content: url(../images/icons/mode-tile-2.svg);
}

.control-input-list::before {
    content: url(../images/icons/mode-list-3.svg);
}


.star::before {
    content: url(../images/icons/star.svg);
}

/* Hotels */

.hotel-sort-tittle {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    width: 337px;
    margin-left: 71px;
    margin-right: 192px;
    margin-right: 81px;
}

.select-control {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 23px;
    width: 287px;
}

.visual-cards {
    margin-right: 8px;
}

.visual-of-page {
    margin-left: 81px;
    margin-right: 72px;
}

.product-card-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
    margin-right: 18px;
}

.product-card-name {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 23px;
}


.product-card-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    line-height: 23px;
}

.product-card-button.detail {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
}

/* Здесь кнопка должна меняться на зеленую при нажатии, пока что оставлю так*/

.product-card-button.favorites {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
}

.rating {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.number-of-hotels {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

    /* Pagination*/

.pagination-show-more {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    background: #83B3D3;
}

.pagination-link.pagination-current {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
}

.pagination-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none ;
}

